pipeline/SchemaMatch_dev.json
{
	"name": "SchemaMatch_dev",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_param_folderlevel_dev",
						"type": "DatasetReference",
						"parameters": {
							"p_container": "source",
							"p_folder": "raw_gold_data"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata1').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Lookup1",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"dataset": {
									"referenceName": "ds_filelevel_dev",
									"type": "DatasetReference",
									"parameters": {
										"p_container": "source",
										"p_folder": "raw_gold_data",
										"p_file": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								},
								"firstRowOnly": true
							}
						},
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Lookup1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@activity('Lookup1').output",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Copy data1",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "DelimitedTextSource",
												"storeSettings": {
													"type": "AzureBlobFSReadSettings",
													"recursive": true,
													"enablePartitionDiscovery": false
												},
												"formatSettings": {
													"type": "DelimitedTextReadSettings"
												}
											},
											"sink": {
												"type": "DelimitedTextSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "DelimitedTextWriteSettings",
													"quoteAllText": true,
													"fileExtension": ".txt"
												}
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "ds_filelevel_dev",
												"type": "DatasetReference",
												"parameters": {
													"p_container": "source",
													"p_folder": "raw_gold_data",
													"p_file": {
														"value": "@item().name",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "ds_filelevel_dev",
												"type": "DatasetReference",
												"parameters": {
													"p_container": "destination",
													"p_folder": "raw_gold_data",
													"p_file": {
														"value": "@item().name",
														"type": "Expression"
													}
												}
											}
										]
									}
								]
							}
						}
					]
				}
			}
		],
		"parameters": {
			"p_resevere": {
				"type": "object",
				"defaultValue": {
					"type": "TabularTranslator",
					"mappings": [
						{
							"source": {
								"name": "Country",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "Country",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "2020",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "2020",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "2021",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "2021",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "2022",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "2022",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "2023",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "2023",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "Average gold reserves",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "Average gold reserves",
								"type": "String",
								"physicalType": "String"
							}
						}
					],
					"typeConversion": true,
					"typeConversionSettings": {
						"allowDataTruncation": true,
						"treatBooleanAsNumber": false
					}
				}
			},
			"p_demand": {
				"type": "object",
				"defaultValue": {
					"type": "TabularTranslator",
					"mappings": [
						{
							"source": {
								"name": "Country",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "Country",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "2020",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "2020",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "2021",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "2021",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "2022",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "2022",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "2023",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "2023",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "Average gold reserves",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "Average gold reserves",
								"type": "String",
								"physicalType": "String"
							}
						}
					],
					"typeConversion": true,
					"typeConversionSettings": {
						"allowDataTruncation": true,
						"treatBooleanAsNumber": false
					}
				}
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-06-19T19:56:59Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}