templates/onperm_to_cloud_incremental/onperm_to_cloud_incremental.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name"
		},
		"Blue_Ls": {
			"type": "string"
		},
		"AzureSqlLS": {
			"type": "string"
		},
		"MySqlLS": {
			"type": "string"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/onperm_to_cloud_incremental')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.table_list",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "lkp_audit",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": "@concat(\n  'SELECT TOP 1 * FROM dbo.etl_audit ',\n  'WHERE table_name = ''', item().name, ''' ',\n  'ORDER BY last_run_timestamp DESC'\n)",
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "AzureSqlDS",
											"type": "DatasetReference",
											"parameters": {
												"p_table_name": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										}
									}
								},
								{
									"name": "If Condition1",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "lkp_audit",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@equals(activity('lkp_audit').output.firstRow.load_type, 'full')",
											"type": "Expression"
										},
										"ifFalseActivities": [
											{
												"name": "copy_incremental_load",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "MySqlSource",
														"query": {
															"value": "@concat(\n  'SELECT * FROM ', item().name, \n  ' WHERE ', activity('lkp_audit').output.firstRow.date_column,\n  ' > ''', activity('lkp_audit').output.firstRow.last_loaded_at, ''''\n)",
															"type": "Expression"
														}
													},
													"sink": {
														"type": "AzureSqlSink",
														"writeBehavior": "insert",
														"sqlWriterUseTableLock": false,
														"disableMetricsCollection": false
													},
													"enableStaging": false,
													"logSettings": {
														"enableCopyActivityLog": true,
														"copyActivityLogSettings": {
															"logLevel": "Warning",
															"enableReliableLogging": false
														},
														"logLocationSettings": {
															"linkedServiceName": {
																"referenceName": "[parameters('Blue_Ls')]",
																"type": "LinkedServiceReference"
															},
															"path": "source"
														}
													},
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "MySqlDS",
														"type": "DatasetReference",
														"parameters": {
															"p_table_name": {
																"value": "@item().name",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "AzureSqlDS",
														"type": "DatasetReference",
														"parameters": {
															"p_table_name": {
																"value": "@item().name",
																"type": "Expression"
															}
														}
													}
												]
											}
										],
										"ifTrueActivities": [
											{
												"name": "copy_full_data",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "MySqlSource"
													},
													"sink": {
														"type": "AzureSqlSink",
														"writeBehavior": "insert",
														"sqlWriterUseTableLock": false,
														"tableOption": "autoCreate",
														"disableMetricsCollection": false
													},
													"enableStaging": false,
													"logSettings": {
														"enableCopyActivityLog": true,
														"copyActivityLogSettings": {
															"logLevel": "Warning",
															"enableReliableLogging": false
														},
														"logLocationSettings": {
															"linkedServiceName": {
																"referenceName": "[parameters('Blue_Ls')]",
																"type": "LinkedServiceReference"
															},
															"path": "source"
														}
													},
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "MySqlDS",
														"type": "DatasetReference",
														"parameters": {
															"p_table_name": {
																"value": "@item().name",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "AzureSqlDS",
														"type": "DatasetReference",
														"parameters": {
															"p_table_name": {
																"value": "@item().name",
																"type": "Expression"
															}
														}
													}
												]
											}
										]
									}
								},
								{
									"name": "get_max_date",
									"type": "Lookup",
									"dependsOn": [
										{
											"activity": "If Condition1",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": {
												"value": "@concat(\n  'SELECT ',\n    if(\n      equals(activity('lkp_audit').output.firstRow.load_type, 'incremental'),\n      concat('MAX(', activity('lkp_audit').output.firstRow.date_column, ') AS max_date '),\n      'CAST(NULL AS DATETIME) AS max_date '\n    ),\n  'FROM [dbo.', item().name, ']'\n)",
												"type": "Expression"
											},
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "AzureSqlDS",
											"type": "DatasetReference",
											"parameters": {
												"p_table_name": {
													"value": "@item().name",
													"type": "Expression"
												}
											}
										}
									}
								},
								{
									"name": "Script1",
									"description": "",
									"type": "Script",
									"dependsOn": [
										{
											"activity": "get_max_date",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"linkedServiceName": {
										"referenceName": "[parameters('AzureSqlLS')]",
										"type": "LinkedServiceReference"
									},
									"typeProperties": {
										"scripts": [
											{
												"type": "Query",
												"text": {
													"value": "@concat(\n  'INSERT INTO dbo.etl_audit (table_name, date_column, load_type, last_loaded_at, last_run_status, last_run_row_count, last_run_timestamp) VALUES (''',\n  item().name, ''', ''',\n  activity('lkp_audit').output.firstRow.date_column, ''', ''',\n  activity('lkp_audit').output.firstRow.load_type, ''', ',\n  \n  \n  if(\n    equals(activity('lkp_audit').output.firstRow.load_type, 'full'),\n    'null',\n    concat('''', activity('get_max_date').output.firstRow.max_date, '''')\n  ), ', ''Success'', ',\n  \n  \n  if(\n    equals(activity('lkp_audit').output.firstRow.load_type, 'full'),\n    activity('copy_full_data').output.rowsCopied,\n    activity('copy_incremental_load').output.rowsCopied\n  ), ', GETDATE());'\n)",
													"type": "Expression"
												}
											}
										],
										"scriptBlockExecutionTimeout": "02:00:00"
									}
								}
							]
						}
					}
				],
				"parameters": {
					"table_list": {
						"type": "array",
						"defaultValue": [
							{
								"name": "customers"
							},
							{
								"name": "orders"
							},
							{
								"name": "order_items"
							},
							{
								"name": "payments"
							},
							{
								"name": "products"
							}
						]
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/AzureSqlDS')]",
				"[concat(variables('factoryId'), '/datasets/MySqlDS')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlDS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('AzureSqlLS')]",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"p_table_name": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"table": {
						"value": "@concat('dbo.', dataset().p_table_name)",
						"type": "Expression"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/MySqlDS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "[parameters('MySqlLS')]",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"p_table_name": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "MySqlTable",
				"schema": [],
				"typeProperties": {
					"tableName": {
						"value": "@dataset().p_table_name",
						"type": "Expression"
					}
				}
			},
			"dependsOn": []
		}
	]
}